*
{
    margin: 0%;
    padding: 0%;
}
.head
{
    border: 2px solid black;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: black;
}
.head h1
{
    margin-bottom: 10px;
    color: whitesmoke;
}
.box1
{
    border: 2px solid black;
    border-radius: 7px;
    height: 390px;
    width: 450px;
    margin-top: 10%;
    margin-left: 500px;
    background: linear-gradient(#995493,black);
}
.img
{
    
    width: 250px;
    height: 200px;
    padding-bottom: 30px;
    padding-right: 50px;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 75px;
}
.box1 h3{
    margin-top: 30px;
    text-align: center;
}
#button1
{
    margin-left: 140px;
    margin-top: 20px;
    height: 30px;
    width: 70px;
    border: 1px solid #720769;
    border-radius: 5px;
    background-color: #720769;
    color: white;
}
#button2
{
    height: 30px;
    width: 70px;
    border: 1px solid #720769;
    border-radius: 5px;
    background-color: #720769;
    color: white;
    margin-left: 15px;
}
body
{
    background-image: url(bg.jpg);
    background-size: 100%;
}
#button2:hover
{
    cursor: pointer;
    background-color: black;
}
#button1:hover
{

    cursor: pointer;
    background-color: black;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 95px;
}
#image
{
    height: 230px;
    width: 300px;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 15px;
}
.din
{
    margin-top: 30;
    margin-left: 7;
}
#caption{
    margin-top: 5;
    margin-left: 50px;
    color: aliceblue;

}
